.navigation {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}
a:hover {
  color: #2196f3;
}

a:active {
  color: #2196f3;
}

a {
  color: black;
}
.logo-part1 {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

body {
  list-style-type: none;
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.nav-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.nav-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.main-background {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.main-text {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 430px;
  top: 170px;
  line-height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.main-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 670px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-text {
  height: 30px;
  width: 136px;
  left: 670px;
  top: 440px;
  border-radius: nullpx;
  line-height: 30px;
  color: #ffffff;
}

.description-title {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 767px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.description-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.title-center {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 600px;
  top: 920px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: #212121;
}
.title-img-index {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.ourteam-background {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}
.ourteam-title {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 662px;
  top: 52px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: #212121;
}
.ourteam-worker {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 160px;

  background: #ffffff;
}

.text-center {
  text-align: center;
}
.footer {
  position: absolute;
  width: 1600px;
  height: 180px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}
.footer-port {
  position: absolute;
  width: 1600px;
  height: 180px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}
.footer-logo-part1 {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2120px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer-logo-port {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 30px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.adress {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2160px;

  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.adress-port {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 70px;

  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.adress-foot {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1739px;

  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.button-port1 {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  border-radius: 4px;
  background: #2196f3;
  cursor: pointer;
}
.button-port2 {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.button-port3 {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.button-port4 {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.button-port5 {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.promo-item {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.img11 {
  text-indent: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.img111 {
  text-indent: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #757575;
}

.footer-port {
  position: absolute;
  width: 1600px;
  height: 180px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}
