body {
  background-color: var(--frame-color);
  color: var(--h-color);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
:root {
  --h-color: #2f303a;
  --hover-color: #2196f3;
  --text-color: #757575;
  --frame-color: #ffffff;
}
.nav-list,
.nav-adress {
  text-decoration: none;
  color: var(--h-color);
}
.nav-list:hover,
.nav-list:focus,
.nav-adress:hover,
.nav-adress:focus {
  color: var(--hover-color);
}
.logo-part1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.logo-part2 {
  color: var(--hover-color);
}

.navigation,
.main-list,
.promo-list,
.text-center {
  list-style-type: none;
}
.navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.main-title {
  background-color: var(--h-color);
}
.main-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: var(--frame-color);
}
.description-title {
  color: var(--h-color);
}
.description-text,
.promo-text {
  color: var(--text-color);
}
.index-button:hover,
.main-button:hover,
.index-button:focus,
.main-button:focus {
  color: var(--frame-color);
  background-color: var(--hover-color);
}
.footer {
  color: var(--frame-color);
  background-color: #2f303a;
  line-height: 1.17;
}
.footer > .logo-part1 {
  color: var(--frame-color);
}
.title-center {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteam-worker {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.index-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.main-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.promo-description {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.promo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
